.Content
{
  height: 300vh;
  min-height: 100vh;
  background: #faeee7;
  position: relative;
  z-index: 1;
}

.Content h1 {
  width: 100%;
  padding: 155px;
  margin-top: auto;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  line-height: 100px;
  color: black;
}

@media (max-width:500px) {
  .Content h1 {
      font-size: 50px;
  }
}
